body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.top-section {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  text-align: center;
}

.head-block {
  margin: 200px auto 0px auto;
}

.head-block .head-buttons {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

.head-block a {
  width: 400px;
  margin: 10px auto 15px auto;
  font-size: 24px;
}

.top-section-bg {
  width: 100%;
  height: 800px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: url('../img/top_bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(10px);
  z-index: 0;
}

.top-section h1 {
  color: #111;
  font-size: 72px;
}

.top-section h2 {
  color: #222;
  font-size: 36px;
}

.row {
  display: block;
  height: 500px;
  width: 100%;
  text-align: center;
}

.row h2 {
  font-size: 36px;
  color: #111;
}

.row h3 {
  font-size: 24px;
  color: #222;
  margin-bottom: 20px;
}

.row p {
  font-size: 18px;
  color: #333;
}

.info-one {
  position: absolute;
  top: 790px;
  padding-top: 20px;
  background-color: #aaa;
}

.info-one-img {
  height: 235px;
  width: 240px;
  background: url('../img/info_one_img.png');
  margin: 0 auto;
}

.info-two {
  position: absolute;
  top: 1290px;
  background-color: #bbb;
  padding-top: 20px;
}

.info-two-img {
  height: 250px;
  width: 250px;
  background: url('../img/info_two_img.jpg');
  margin: 0 auto;
}

.info-three {
  position: absolute;
  top: 1790px;
  background-color: #ccc;
  padding-top: 20px;
}

.info-three-img {
  height: 250px;
  width: 400px;
  background: url('../img/info_three_img.png');
  margin: 0 auto;
}

.info-four {
  position: absolute;
  top: 2290px;
  background-color: #ddd;
  padding-top: 20px;
}

.info-four-img {
  height: 128px;
  width: 128px;
  background: url('../img/icons/Icon_M.png');
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
}

/*


.top-section .blurb-container {
  width: 700px;
  height: 250px;
  padding-top: 300px;
  margin: auto;
}

.top-section h1 {
  font-size: 90px;
  color: #111;
  text-align: center;
  margin: 0;
}

.top-section h2 {
  font-size: 24px;
  font-style: bold;
  color: #222;
  text-align: center;
  margin: 20px 0px;
}

.blurb-container a {
  margin: 10px auto;
  display: block;
}

.button-container .install {
  width: 175px;
  height: 50px;
}

.button-container .source {
  width: 150px;
  height: 35px;
}

.button-container {
  text-align: center;
}

.button-container a {
  color: #222;
}

.info-sections {
  z-index: 2;
  background: #ccc;
  width: 100%;
  height: 2400px;
  position: absolute;
  top: 780px;
}

.info-sections>div {
  width: 100%;
  height: 600px;
}

.info-one {
  background-color: #ddd;
}

.info-one-image {
  background: url('../img/game.png');
  display: block;
  width: 640px;
  height: 301px;
  margin-top: 100px;
  margin-left: 115px;
  padding: 0px;
  float: left;
}

.info-one-quote,
.info-two-quote {
  margin: 170px 0px 0px 100px;
  display: block;
  float: left;
}

.info-two-quote {
  float: left;
  text-align: right;
  color: #ddd;
  width: 67%;
}

.info-one-quote h2,
.info-two-quote h2,
.info-three-quote h2 {
  font-size: 54px;
}

.info-one-quote h3,
.info-two-quote h3,
.info-three-quote h3 {
  font-size: 34px;
}

.info-one-quote p,
.info-two-quote p,
.info-three-quote p {
  font-size: 20px;
}

.info-two {
  background-color: #162633;
  background: url('../img/info_two.png');
  background-position: right center;
  background-repeat: no-repeat;
}

.info-three {
  background-color: #ddd;
  text-align: center;
}

.info-three-quote {
  padding-top: 150px;
}

.info-four {
  background-color: #ccc;
}

.info-four .title-container {
  padding-top: 110px;
  margin: 0px auto;
  text-align: center;
}

.info-four h2, .info-four h3 {
  margin: 0 auto;
}

.info-four h2 {
  font-size: 38px;
}

.info-four h3 {
  margin-top: 10px;
  font-size: 24px;
}

.supp-icons {
  width: 45%;
  margin: 20px auto;
  list-style-type: none;
}

.supp-icons li {
  display: inline;
  width: 64px;
  height: 64px;
}

.footer {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.footer-logo {
  margin: 60px auto;
  width: 250px;
  height: 240px;
  background: url('../img/icons/Icon_L.png');
  background-repeat: no-repeat;
}

.small-screen-footer {
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
*/
