@font-face {
  font-family: 'KomikaAxis';
  src: url('KOMIKAX_-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #b1e016!important;
}

h1, h2 {
  color: #f7ecda;
  font-family: KomikaAxis;
}

p {
  color: #f7ecda;
  font-family: Arimo;
}

body {
  background-color: #616985;
}

.jumbotron {
  background-color: #2d3655;
}

.jumbo-icon {
  padding-top: 30px;
  padding-right: 30px;
  float: left;
}

.jumbo-icon img {
  height: 210px;
  width: 210px;
}

.supp-icons li {
  display: inline;
  list-style-type: none;
}

.supp-icons li img {
  height: 48px;
  width: 48px;
}

.footer {
  font-size: 10px;
  text-align: center;
}
