@font-face {
  font-family: 'KomikaAxis';
  src: url('KOMIKAX_-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #b1e016!important;
}

h1, h2 {
  color: #f7ecda;
  font-family: KomikaAxis;
}

p {
  color: #f7ecda;
  font-family: Arimo;
}

body {
  background-color: #616985;
}

.jumbotron {
  margin-bottom: 0px;
  background: #2d3655;
  background: -moz-linear-gradient(top,  #2d3655 0%, #616985 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d3655), color-stop(100%,#616985));
  background: -webkit-linear-gradient(top,  #2d3655 0%,#616985 100%);
  background: -o-linear-gradient(top,  #2d3655 0%,#616985 100%);
  background: -ms-linear-gradient(top,  #2d3655 0%,#616985 100%);
  background: linear-gradient(to bottom,  #2d3655 0%,#616985 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3655', endColorstr='#616985',GradientType=0 );
}

.jumbo-icon {
  padding-top: 30px;
  padding-right: 30px;
  float: left;
}

.jumbo-icon img {
  height: 210px;
  width: 210px;
}

.btn-primary {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.supp-icons li {
  display: inline;
  list-style-type: none;
}

.supp-icons li img {
  height: 48px;
  width: 48px;
}

.footer {
  font-size: 10px;
  text-align: center;
}
